<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main">
        <div id="header" class="header"></div>

        <div class="container">
            <div id="work-screen" class="work-screen form-control">
                <div class="text-center">
                    <h2>Доступные кошельки</h2>
                </div>
                <div id="walletList"></div>
                <div id="loader" class="loader"></div>
                <div class="addWalletBtn">
                    <a class="btn btn-primary" onclick="EnrollAdmin()" href="transactionResult.html">Create Admin</a>
                    <a class="btn btn-primary" href="selectPeer.html">Select peer</a>
                    <a href="readCert.html" class="btn btn-primary">Добавить кошелек</a>
                </div>
            </div>
            
        </div>
        <div id="navigation" class="fixed-bottom btn-group"></div>
    </div>
</body>

<script src="../assets/androidjs.js"></script>
<script src="./js/ui.js"></script>
<script src="./js/script.js"></script>
<script src="./js/wallets.js"></script>
<script>
    WalletList();
</script>


</html>