<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <!-- Add this androidjs.js file to your html file to get the functionality of android js -->
    <link rel="stylesheet" href="./lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main">
        <div id="header" class="header"></div>
        
        <div class="work-screen">
            <div>
                <h2>Регистрация пользователя</h2>
            </div>
            <form action="transactionResult.html">
                <div class="form-control">
                    <label for="tokenName">Название токена</label>
                    <input type="text" class="input-group" name="tokenName" id="tokenName"/>
                </div>

                <div class="form-control">
                    <label for="price">Стоимость</label>
                    <input type="text" class="input-group" name="price" id="price"/>
                </div>

                <div class="form-control">
                    <label for="amount">Количество</label>
                    <input type="text" class="input-group" name="amount" id="amount"/>
                </div>

                <div class="form-control">
                    <label for="recipient">Получатель</label>
                    <input type="text" class="input-group" name="recipient" id="recipient"/>
                </div>

                <div class="form-control">
                    <input type="submit" class="btn btn-primary" onclick="Mint(tokenName.value, price.value, amount.value, recipient.value)" value="Подтвердить"/>
                    <a href="admin.html" class="btn btn-danger" id="cancel">Отклонить</a>
                </div>

            </form>
            <div>
                <span id="result" class="text-center"></span>
            </div>
        </div>
        
        <div id="navigation" class="navigation"></div>
    </div>
</body>

<script src="./js/ui.js"></script>
<script src="./../assets/androidjs.js"></script>  
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="./js/script.js"></script>

</html>