body{
    background-color: lightgray;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.main{
    /* position: fixed; */
    background-color: lightgray;
    margin: 0;
}
.header{
    position: relative;
    display: block;
    height: 40px;
    /* margin-bottom: 10%; */
}
.header-menu{
    /* display: flex; */
    position: fixed;
    height: 40;
    width: 100%;
    background-color: gray;
    z-index: 1000;
}
.work-screen{
    position: relative;
    /* display: block; */
    /* padding-top: 10%; */
    /* margin-bottom: 10%; */
    height: fit-content;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    word-wrap: break-all;
    word-break: break-all;
}

/* Camera */
#qrReader{
    position: relative;
    display: block;
    width: 100%;
    /* max-width: 250px; */
    height: 100%;
    margin: auto;
}
#qrResult{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.navigation{
    position: relative;
    display: block;
    height: 40px;
}
.navigation-menu{
    position: fixed;
    display: flex;
    bottom: 0px;
    height: 40px;
    width: 100%;
    /* padding: 1px; */
    background-color: gray;
}
.btns{
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    /* height: 100%; */
}
.btn{
    height: 100%;
    flex:1;
}

.center{
    display: flex;
    justify-content: center;
}
.imageDiv{
    object-fit: contain;
}
img{
    object-fit: contain;
}

/* Стиль для списка */
.list {
    /* Убираем маркеры списка */
    list-style: none;
    /* Выравниваем список по центру */
    margin: 0 auto;
    /* Задаем ширину списка */
    width: 80%;
  }
  
  /* Стиль для элементов списка */
  .listItem {
    /* Добавляем границу вокруг элемента */
    border: 1px solid black;
    /* Добавляем отступы внутри элемента */
    padding: 10px;
  }
  
  /* Стиль для ссылок */
  .link {
     /* Убираем подчеркивание ссылки */
     text-decoration: none;
     /* Задаем цвет ссылки */
     color: black;
     /* Делаем ссылку блочным элементом */
     display: block;
  }
  
  /* Стиль для имени товара */
  .name {
     /* Задаем жирный шрифт */
     font-weight: bold;
     /* Задаем размер шрифта */
     font-size: 20px;
  }
  
  /* Стиль для цены товара */
  .price {
      /* Задаем красный цвет текста*/
      color: red;
      /* Задаем отступ слева*/
      margin-left: 10px;
  }
  
  /* Стиль для количества товара*/
  .amount {
      /* Задаем зеленый цвет текста*/
      color:green;
      /* Задаем отступ слева*/
      margin-left:10px; 
  }
  
  /* Стиль для владельца товара*/
  .owner {
      /* Задаем синий цвет текста*/
      color:blue; 
       /* Задаем отступ слева*/
       margin-left:10px; 
  }